<%- include('../partials/head'); -%> <%- include('../partials/navbar'); -%>

<section id="about">
  <div class="container">
    <div class="row">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus amet
        aliquam magnam? Rerum explicabo sequi cumque molestias tenetur ad
        aliquam molestiae distinctio id reiciendis dolorem nulla iste deleniti
        reprehenderit, dicta inventore eius nobis expedita ex at voluptates
        pariatur dolore odio vel. Vitae ipsa libero facilis eveniet impedit
        voluptatibus architecto illum.
      </p>
    </div>

    <div class="row">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus amet
        aliquam magnam? Rerum explicabo sequi cumque molestias tenetur ad
        aliquam molestiae distinctio id reiciendis dolorem nulla iste deleniti
        reprehenderit, dicta inventore eius nobis expedita ex at voluptates
        pariatur dolore odio vel. Vitae ipsa libero facilis eveniet impedit
        voluptatibus architecto illum.
      </p>
    </div>

    <div class="row">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus amet
        aliquam magnam? Rerum explicabo sequi cumque molestias tenetur ad
        aliquam molestiae distinctio id reiciendis dolorem nulla iste deleniti
        reprehenderit, dicta inventore eius nobis expedita ex at voluptates
        pariatur dolore odio vel. Vitae ipsa libero facilis eveniet impedit
        voluptatibus architecto illum.
      </p>
    </div>

    <div class="row">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus amet
        aliquam magnam? Rerum explicabo sequi cumque molestias tenetur ad
        aliquam molestiae distinctio id reiciendis dolorem nulla iste deleniti
        reprehenderit, dicta inventore eius nobis expedita ex at voluptates
        pariatur dolore odio vel. Vitae ipsa libero facilis eveniet impedit
        voluptatibus architecto illum.
      </p>
    </div>

    <div class="row">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus amet
        aliquam magnam? Rerum explicabo sequi cumque molestias tenetur ad
        aliquam molestiae distinctio id reiciendis dolorem nulla iste deleniti
        reprehenderit, dicta inventore eius nobis expedita ex at voluptates
        pariatur dolore odio vel. Vitae ipsa libero facilis eveniet impedit
        voluptatibus architecto illum.
      </p>
    </div>
  </div>
</section>

<!-- Footer -->
<%- include('../partials/footer'); -%>
