<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>

<body>
    {{#if user}}
    <h1>Welcome {{user}} </h1>
    {{else}}
    <h1>unauthorized token</h1>
    {{/if}}
</body>

</html>